@page "/"

<PageTitle>Home</PageTitle>

<h1>Air Cargo Monitor</h1>

<h6>This app was made by Viktoriia Garkusha</h6>
<h6>ACM - Air Cargo Monitor</h6>
<h6>In this small app I use only one warehouse to keep it simple</h6>